/* Base styles for filters */
.filters {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

/* Product card styles */
.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.02);
}

/* Pagination button styles */
.pagination button {
  background-color: #3289ee;
  border: none;
  color: white;
}

.pagination button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* Price input container styles */
.price-inputs {
  display: flex;
  align-items: center; /* Center vertically */
  gap: 10px; /* Adds space between inputs */
}


/* Shop.css */

.spinner-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
